[[source]]
url = "http://mirrors.tencentyun.com/pypi/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
apscheduler = "*"
docker = "*"
fastapi = "*"
sqlalchemy = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
